<section class="p-4">
  <div class="container mx-auto p-4">
    <div class="font-bold text-4xl text-center mb-4">{{ projetForm.controls.title.value }}</div>
    <p class="text-lg text-gray-700 text-center">{{ projetForm.controls.description.value }}</p>
    
    <div class="my-6 mx-4 flex gap-2 justify-center">
      <input
        class="bg-slate-100 border border-slate-300 rounded w-56 py-2 px-3 focus:outline-none focus:ring-2 focus:ring-blue-500"
        type="text"
        placeholder="Search..."
      />
      <button 
        class="text-white py-2 px-4 rounded hover:bg-blue-600 focus:outline-none"
        (click)="setShowAddProject()"
      >
        Add project
      </button>
      <button 
        class="text-white py-2 px-4 rounded hover:bg-yellow-600 focus:outline-none"
        (click)="setShowAddStatus()"
      >
        Add status
      </button>
    </div>
  </div>

  <div class="container flex gap-3">
    <div class="column">
      <div class="title">
        <button 
          *ngFor="let status of projetForm.controls.status.controls" 
          [style.background-color]= "status.value.color"
          class=""
        >
          {{ status.value.name }}
        </button> 
      </div>
      <div class="tasks">
        <div>
          <p></p>
        </div>
      </div>
      <div class="addItem">
        <button>+ Add Item</button>
      </div>
    </div>
  </div>

  
</section>

@if (showProjectModal) {
  <div class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Add Project</h2>
        <p class="x-mark" (click)="setShowAddProject()">X</p>
      </div>
      <div class="modal-body">
        <form>
          <label for="title">Title</label>
          <input type="text" id="title" [formControl]="projetForm.controls.title"/>
          <label for="description">Description</label>
          <textarea id="description" [formControl]="projetForm.controls.description"></textarea>
          <label for="start">Start date</label>
          <input type="date" id="start" [formControl]="projetForm.controls.startDate"/>
          <label for="end">End date</label>
          <input type="date" id="end" [formControl]="projetForm.controls.startDate"/>
          <button (click)="save($event)">Add</button>
        </form>
      </div>
    </div>
  </div>
}

@if (showStatusModal) {
  <div class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Add Status</h2>
        <p class="x-mark" (click)="setShowAddStatus()">X</p>
      </div>
      <div class="modal-body">
        <form>
          <label for="title">Title</label>
          <input type="text" id="title" [formControl]="statusForm.controls.name"/>
          <label for="color">Colors</label>
          <input type="text" id="color" [formControl]="statusForm.controls.color"/>
          <button (click)="saveStatus($event)">Add</button>
        </form>
      </div>
    </div>
  </div>
}
