.user-list-container {
  margin: 20px;
}

h2 {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.user-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.user-card-list:hover {
  transform: scale3d(1.05, 1.05, 1.05);
}

.user-card-grid:hover {
  transform: scale3d(1.05, 1.05, 1.05);
}

.user-card-grid {
  display: flex;
  flex-direction: column;
  background-color: #F1F5F9;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  width: 300px;
  height: 200px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-card-grid h3 {
  margin-bottom: 25px;
  text-align: center;
  background-color: #d1d5db;
  border-radius: 10px;
  padding: 1px;
  font: bold;
}

.user-card-grid p {
  margin-left: 5px;
  padding: 4px;
  color: black;
}

.user-card-list {
  background-color: #F1F5F9;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.user-card-list h3 {
  margin-bottom: 25px;
  text-align: center;
  background-color: #d1d5db;
  border-radius: 10px;
  padding: 1px;
  font: bold;
}

.user-card-list p {
  margin-left: 5px;
  padding: 4px;
  color: black;
}

.view-toggle {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.view-toggle svg {
  width: 35px;
  height: 35px;
  padding: 3px;
  margin-right: 5px;
  cursor: pointer;
  background-color: #d1d5db;
  border-radius: 5px;
}

.view-toggle svg:hover {
  background-color: #9ca3af;
}

.view-toggle svg:active {
  background-color: #6b7280;
  transform: perspective(1px) scale(0.9);
}