<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="title">Titre:</label>
        <input id="title" formControlName="title">
        <div *ngIf="taskForm.get('title')?.invalid && taskForm.get('title')?.touched">
            Le titre est requis.
        </div>
    </div>

    <div formArrayName="users">
        <label for="user">Utilisateurs:</label>
        <div *ngFor="let user of users.controls; let i=index" [formGroupName]="i">
            <input formControlName="name" placeholder="User Name">
            <app-button (click)="removeUser(i)" label="Supprimer"></app-button>
        </div>
    </div>
    <app-button (click)="addUser()" label="Ajouter Utilisateur"></app-button>

    <div>
        <label for="description">Description:</label>
        <textarea id="description" formControlName="description"></textarea>
    </div>

    <div>
        <label for="endTask">Date de fin:</label>
        <!-- <input id="endTask" type="date" formControlName="endTask"> -->
        <app-date-picker [formControlName]="taskForm.endTask"></app-date-picker>
    </div>

    <div>
        <label for="status">Statut:</label>
        <select>
            @for( status of project?.status; track status){
                <option [value]="status">{{ status.name }}</option>
            }
        </select>
    </div>

    <div>
        <label for="project">Projet:</label>
        <input id="project" formControlName="project">
    </div>

    <div>
        <label for="priority">Priorité:</label>
        <select id="priority" formControlName="priority">
            <option value="low">Faible</option>
            <option value="medium">Moyenne</option>
            <option value="high">Élevée</option>
        </select>
    </div>

    <app-button label="Ajouter Tâche"></app-button>
</form>
